language: cpp
os:
  - linux
sudo: false
dist: trusty
addons:
  apt:
    sources:
    - sourceline: 'ppa:adrozdoff/cmake'
    - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
    - gcc-6
    - g++-6
    - cmake
    - cmake-data
    - clang
env:
  - TRAVIS_CXX=g++-6 TRAVIS_CC=gcc-6
  - TRAVIS_CXX=clang++ TRAVIS_CC=clang
script:
  - export CXX=$TRAVIS_CXX CC=$TRAVIS_CC
  - mkdir build && cd build && cmake .. && cmake --build . && ctest
